<tr class="table-top-row">
  <td>First Name</td>
  <td>Last Name</td>
  <td>Occupation</td>
  <td>Professional Relationship</td>
  <td>Last Contacted</td>
  <td>Fact</td>
  <td>Reminder</td>
  <td>Update Contact</td>
  <td>Delete Contact</td>
</tr>
<tr class="table-top-row">
  {{#each contacts}}
    {{#each this}}
  <tr>
    <td>{{this.first_name}}</td>
    <td>{{this.last_name}}</td>
    <td>{{this.occupation}}</td>
    <td>{{this.professional_relationship}}</td>
    <td>{{this.last_contacted}}</td>
    <td>{{this.fact}}</td>
    <td>{{this.reminder}}</td>
    <td><button type="button" class="btn btn-primary update-contact" data-contact-id="{{id}}" data-toggle="modal" data-target="#update-contact-modal">Update</button></td>
    <td><button type="button" class="btn btn-danger delete-contact" data-contact-id="{{id}}" data-toggle="modal" data-target="#delete-contact-modal">Delete</button></td>
  </tr>
  {{/each}}
{{/each}}
