<td>{{ticker}}</td>
<td>{{name}}</td>
<td>{{shares_purchased}}</td>
<td>${{purchase_price}}</td>
<td>${{current_price}}</td>
<td><button type="button" class="btn btn-primary update-stock" data-contact-id="{{id}}" data-toggle="modal" data-target=".update-stock-modal">Update</button></td>
<td><button type="button" class="btn btn-danger delete-stock" data-contact-id="{{id}}">Delete</button></td>
